# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local App Store Assets
/appstore-images/

# Android TWA Build and Keys
twa/.gradle/
twa/build/
twa/app/build/
twa/*.keystore
twa/*.apk
twa/*.aab
twa/*.idsig

